@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.noto-serif-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}


.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

html {
    font-size: 10px;
}

/* Body Styles */
body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #F5F8FF;
}

/* Shared Styles */
.display-flex {
    display: flex;
}

.color1 {
    color: #000000;
}

.color2 {
    color: #E95A08;
}

.navbar-button-size{
    font-size: 1.6rem;
}

.btn-primary{
    background-color: #E95A08;
    width: 27rem;
    height: 5rem;
    color: white;
    border: none;
    font-size: 1.6rem;
}

.btn-primary1{
    background-color: #E95A08;
    width: 27rem;
    height: 5rem;
    color: white;
    border: none;
    font-size: 1.6rem;
}

.btn-primary:hover, .btn-primary1:hover{
    background-color: #65250d;
    color: #FFFFFF;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/* header Styles */
.header {
    margin-top: 3rem;
}


/* Navbar Styles */
.navbar {
    justify-content: space-between;
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
}

.navbar-buttons {
    list-style: none;
    gap: 4.8rem;
}

.navbar-link {
    text-decoration: none;
}

.style1 {
    color: rgba(37, 36, 50, 1);
    font-weight: 700;
}

.style2 {
    color: #8987A1;
}

.style3 {
    color: #000000;
}


/* Banner Styles */
.banner {
    max-width: 90%;
    margin: 0 auto;
    align-items: center;
    padding-top: 10rem;
}

.banner-writings {
    width: 50%;
}

.banner-img {
    width: 50%;
}

.banner-title {
    font-weight: 700;
    font-size: 6.5rem;
}

.banner img {
    width: 100%;
}

.banner-style {
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.9rem;
}

/* Our Plants Styles */
.our-plants{
    padding-top: 10rem;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}

.our-plants-part-1{
    margin-bottom: 3rem;
}

.our-plants-title{
    font-size: 5rem;
    font-weight: 700;
}

.our-plants-description{
    max-width: 70%;
    margin: 0 auto;
    color: rgba(0, 0, 0, 0.5);
    font-size: 2.2rem;
}

.our-plants-part-2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    row-gap: 4rem;
}

.plant-title{
    font-weight: 500;
    font-size: 2.2rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.plant-price{
    font-weight: 700;
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 1.2rem;
}

/* Plants Lover Styles */

.plants-lover{
    max-width: 114rem;
    margin: 19rem auto;
}
.plants-lover-container{
    max-width: 114rem;
    margin: 0 auto;
    gap: 7rem;
    align-items: center;
}
.plants-lover-img{
    position: relative;
    width: 50%;
}
.plants-lover-img img{
    max-width: 100%;
}
.plants-lover-writings{
    width: 50%;
}

.plants-lover-title{
    font-weight: 700;
    font-size: 5rem;
    margin: 0px;
}
.plants-lover-description{
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.5);
}

.trusted-seller{
    width: 29rem;
    margin-bottom: -23rem;
}

#badge{
    position: absolute;
    z-index: 10;
    top:-90px;
    right: -90px;
    width: 250px;
}



/* latest Deals Styles */
.latest-deals{
    max-width: 90%;
    text-align: center;
    margin: 2rem auto;
}

.latest-deals-part-1{
    align-items: center;
    justify-items: center;
}

.latest-deals-title{
    margin-top: 0px;
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 5rem;
}

.latest-deals-description{
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.5);
    width: 70%;
}

.latest-deals-box-containers{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 4rem;
}

.latest-deals-box{
    display: flex;
    justify-items: center;
    border-radius: 10px;
    height: 20rem;
    align-items: center;
    justify-content: center;
}

#box1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/deal-bloom\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: 120%;
    grid-column: 1;
    grid-row: 1;
    /* height: 100%; */
}

#box2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/deal-ana\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    background-size: 120%;
    grid-column: 1;
    grid-row: 2;
}

#box3{
    background-image: url('/assets/deal-zabo\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    grid-column: 2;
    grid-row: 1 / 3; 
    height: 100%;
    background-size: 120%;
    object-fit: fill;
    object-position: left;
}

.latest-deal-box-title{
    font-weight: 700;
    color: #FFFFFF;
    font-size: 3rem;
    margin: 0rem;
}
.latest-deal-box-price{
    font-weight: 500;
    color: #FFFFFF;
    font-size: 1.6rem;
}

/* Colorful Styles */
.colorful-part{
    background-image: url('/assets/news-letter-bg\ \(1\).png');
    background-repeat: no-repeat;
    max-width: 100%;
    background-size: 100%;
    height: 50rem;
    margin: 10rem auto;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.colorful-whole-part-container{
    align-items: center;
    text-align: center;
    justify-content: center;
}

.colorful-part-title{
    color: #FFFFFF;
    font-weight: 700;
    font-size: 6rem;
    margin-top: 0;
}

.colorful-container{
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 95rem;
}

.colorful-part input[type="email"]{
    height: 4.8rem;
    font-size: 1.6rem;
    background-color: white;
    width: 98%;
    padding-left: 1rem;
    border: none;
}

.colorful-container-item-1{
    width: 70rem;
    height: 5rem;
}

/* Footer Styles */
.footer{
    /* justify-items: center; */
    margin-bottom: 5rem;
}
.footer-container{
    max-width: 114rem;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.footer-part-1{
    width: 25%;
}

.footer-desc{
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 0.5);
}

.footer-part-2 ul{
    list-style: none;
}

.footer-buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 11rem;
    row-gap: 3rem;
}

.footer-items, .footer-icon{
    cursor: pointer;
}

.footer-link{
    text-decoration: none;
    color: rgba(107, 114, 128, 1);
    font-weight: 500;
    font-size: 1.6rem;
}


.footer-part-3{
    gap: 2.5rem;
    align-items: center;
    justify-content: start;
}


/* Media Query */
@media screen and (max-width: 576px) {
    html {
        font-size: 6px;
    }

    .navbar-button-size{
        font-size: 2.6rem;
    }

    #nav1,
    #nav2,
    #nav3,
    #badge {
        display: none;
    }

    .navbar img {
        width: 100%;
    }

    .navbar {
        max-width: 90%;
        align-items: center;
    }

    .banner {
        max-width: 100%;
        flex-direction: column-reverse;
    }
    .banner-img{
        width: 100%;
    }

    .banner-writings{
        width: 90%;
    }

    .banner-writings{
        margin-inline: 2.7rem;
    }

    .our-plants{
        padding-top: 10rem;
    }

    .our-plants-part-1{
        margin-bottom: 5rem;
    }

    .our-plants-title{
        font-size: 8.1rem;
        margin-bottom: 1.3rem;
    }

    .our-plants-description
    {
        font-size: 3.9rem;
    }

    .our-plants-part-2{
        grid-template-columns: repeat(2, 1fr);
    }

    .plant-img{
        width: 100%;
    }

    .plant-title{
        font-size: 3.9rem;
        margin-top: 2.5rem;
        margin-bottom: 1.8rem;
    }

    .plant-price{
        font-size: 3.9rem;
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .plants-lover-container{
        flex-direction: column;
        padding-left: 2rem;
        padding-right: 2.5rem;
    }

    .plants-lover-img{
        width: 100%;
    }

    .plants-lover-writings{
        width: 100%;
    }

    .latest-deals-box-containers{
        display: flex;
        flex-direction: column;
    }

    #box3{
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/deal-zabo.png');
        height: 20rem;
        width: 100%;
    }

    .colorful-part{
        height: 20rem;
    }

    .colorful-part-title{
        font-size: 3.5rem;
    }

    .colorful-container{
        width: 50rem;
    }

    .colorful-part input[type="email"]{
        height: 4.7rem;
        width: 95%;
    }

    .footer-container{
        flex-direction: column;
    }

    .footer-part-1{
        width: 90%;
    }
    .footer-desc{
        font-size: 3.2rem;
    }
    .footer-buttons{
        grid-template-columns: repeat(1, 1fr);
        justify-content: start;
        padding: 0;
    }
    .footer-part-2, .footer-part-3{
        width: 90%;
    }
    .footer-link{
        font-size: 2.6rem;
    }
}